#common{
    // background-color: #F4FF81;
    height:100vh;
    width : 100%;
     
}

#common_center{
     display: table-cell;
        text-align: left;
        vertical-align: middle;
        text-align: right;

}

.common_header{
    height:600px;
    float:left;
}