#common{
    // background-color: #F4FF81;
    height:100vh;
    width : 100%;
    float:left;
}

#common2{
    // background-color: #F4FF81;
    float:left;
}
#common_center{
     display: table-cell;
        text-align: left;
        vertical-align: middle;
        text-align: right;
}
.common_header{
    height:100%;
    float:left;
}
