#dialogText{
    color: #D82121;
}
#customerPlantInfo{
    text-align: center;
    //color: #999595;
    color:rgb(145, 141, 141);
    font-weight: bold;
    // background-color: black;
}
#customerPage{
    // background-color: rgb(138, 133, 133);
}
