.reserve {
   float:left
}
#reserveInfo {
   display:inline-block; 
  }
#reserveInfoSerchBar {
    width:100%;
    display:inline-block; 
   }
#reserveStateView{
  border:1px solid cadetblue;
  float: left;
}
#reserveStateView1{
  border:1px solid cadetblue;

}
#reserveStateView2{
  border:1px solid cadetblue;
  width:88px;
  float: left;
}
#reserveCustomerTitle{
  text-align: center;
  border:1px solid black;
}

// 토탈 부분 css
.reserveTotalCenter{
  width: 370px;
  float:left;
}
.reserveTotalLeft{
  width: 300px;
  float:left;
}


//////////
#reserveInfoView{
  display:inline-block; 
}
#reserveTotal{
  // text-align:center;
}

