.reserve {
   float:left
}
#reserve-info {
   display:inline-block; 
  }
#reserve-info-serch-bar {
    width:100%;
    display:inline-block; 
   }
#reserve-state-view{
  border:1px solid cadetblue;
  float: left;
}
#reserve-state-view1{
  border:1px solid cadetblue;

}
#reserve-state-view2{
  border:1px solid cadetblue;
  width:88px;
  float: left;
}
#reserve-customer-title{
  text-align: center;
  border:1px solid black;
}


// 토탈 부분 css
.reserve-total-center{
  width: 370px;
  float:left;
}
.reserve-total-left{
  width: 370px;
  float:left;
}


#reserve-info-view{
  display:inline-block; 
}
#reserve-total{
  display:inline-block;
}



#searchbar_select{
  width:400px;
  display:inline-block; 
}

#searchbar_radio{
  width:200px;
  display:inline-block; 
}

#searchbar_test{
  display: inline-block;
}